<?xml version="1.0"?>

<model>
  <name>Wood ball 7cm</name>
  <version>1.0</version>
  <sdf version='1.5'>model.sdf</sdf>

  <author>
    <name>Takumu Takanezawa</name>
    <email>s20c1066ab@s.chibakoudai.jp</email>
  </author>

  <description>
    A 7 cm diameter wooden ball.
  </description>
</model>
